/*NAVBAR*/
#titulo-navbar {
    font-family: "bodoni-urw", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.div-brand {
    margin-left: .4em;
}

/*HEADER*/
#header-bk, .clasificacion {
    background-color: #c74551 !important;
    text-transform: capitalize !important;
}

#btn1-header {
    background: #f07f83 !important;
    color: white !important;
}

#btn1-header:hover {
    background: #fa9598 !important;
    transition: all .5s ease-in-out !important;
}

#btn2-header:hover, .btn-call-to-action:hover {
    transition: all .5s ease-in-out !important;
    background: #f07f83 !important;
    color: white !important;
}

/*INDEX*/
.icono-index {
    background-color: #f07f83;
}

.separador {
    color: #c74551 !important;
}

.call-to-action {
    background-color: #c74551;
}

/*FOOTER*/
#titulo-navbar-footer {
    font-family: "bodoni-urw", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-left: .4em;
}

/*PRODUCTOS*/
.precio-producto {
    font-size: 2em !important;
    font-weight: bold !important;
}

#title-productos, #title-articulos, #title-registro, #title-productos-crear, #title-articulos-crear {
    font-family: "bodoni-urw", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    font-size: 2.8em !important;
    text-align: center !important;
}

.crear-btn, #productos .btn-buscar, #articulos .btn-buscar, .btn-registro {
    background-color: #c74551;
}

.crear-btn a, #productos .btn-buscar, #articulos .btn-buscar, .btn-registro {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.crear-btn:hover, #productos .btn-buscar:hover, #articulos .btn-buscar:hover, .btn-registro:hover {
    background: #ec6573 !important;
    transition: all .5s ease-in-out !important;
    color: white !important;
}

#productos .btn-buscar, #articulos .btn-buscar {
    margin-left: .5em;
}

#productos .nombre-producto {
    font-weight: bold;
}

/*ARTICULOS*/
.titulo-card-articulo {
    font-weight: bold !important;
}

/*REGISTRO*/
#registro form, #productos-crear form, #articulos-crear form {
    max-width: 700px;
    margin: auto;
    border: 2px solid #fa9598;
    border-radius: 5px;
    padding: 1em;
}

#registro form label, #productos-crear form label, #articulos-crear form label {
    font-weight: bold;
    margin-bottom: .5em;
}

#registro-nombre input, #registro-apellido input, #registro-email input, #registro-clave input, #producto-crear-nombre input, #producto-crear-detalle textarea, #producto-crear-precio input, #producto-crear-seccion_rostro select, #articulos-crear-titulo input, #articulos-crear-detalle textarea, #articulos-crear-autor input, #articulos-crear-clasificacion select {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}

#registro-nombre input:focus, #registro-apellido input:focus, #registro-email input:focus, #registro-clave input:focus, #producto-crear-nombre input:focus, #producto-crear-detalle textarea:focus, #producto-crear-precio input:focus, #producto-crear-seccion_rostro select:focus, #articulos-crear-titulo input:focus, #articulos-crear-detalle textarea:focus, #articulos-crear-autor input:focus, #articulos-crear-clasificacion select:focus {
    outline: none !important;
    box-shadow: 1px 1px 5px 1px #c74551 !important;
}

#registro .btn-registro {
    margin-top: 1em;
}

#registro-rol,  #articulos-crear-fecha {
    display: none !important;
}

/*PRODUCTOS CREAR*/
#producto-crear-detalle textarea, #articulos-crear-detalle textarea {
    max-height: 200px !important;
    resize: none !important;
    overflow-y: scroll !important;
}

/*MENSAJES USUARIO*/
.success {
    width: 100% !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    background-color: #d1ffbd !important;
    color:  #2b472b !important;
    padding: .5em !important;
}