{% extends 'App_Final/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Artículos</h1>

        <button><a href="{% url 'Crear Articulo' %}">Crear articulo</a></button>

        <!-- BUSCADOR -->
        <form action="/articulos/buscar/" method="GET">
            <input type="text" name="titulo" id="titulo">

            <input type="submit" value="Buscar">
        </form>

        {% if respuesta %}
            <p>{{ respuesta }}</p>
        {% endif %}

        {% if articulos %}
            <ul>
            {% for articulo in articulos %}
                <li>{{ articulo.titulo }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}