{% extends 'App_Final/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Crear Artículo</h1>

        {% comment %} {% if formulario.errors %}

            <p>ERROR</p>

        {% endif %} {% endcomment %}

        {% if respuesta %}

            <p class={{tipo}}>{{ respuesta }}</p>

        {% endif %}

        <!-- FORM CREAR-->
        <form action="" method="POST">
            {% csrf_token %}

            <table>
                {{ formulario.as_table }}
            </table>

            <input type="submit" value="Crear">
        </form>
    </main>
{% endblock %}