<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'App_Final/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'App_Final/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'App_Final/css/estilos.css' %}" rel="stylesheet" />
        <!-- Adobe Fonts -->
        <link rel="stylesheet" href="https://use.typekit.net/qdv2law.css">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container d-flex flex-row align-items-center justify-content-center flex-nowrap px-5">
                    <div class="container d-flex flex-row align-items-center">
                        <img src="{% static 'App_Final/assets/imgs/flor-b.png' %}" alt="logo" width="35">

                        <div class="div-brand">
                            <a class="navbar-brand" id="titulo-navbar" href="{% url 'Inicio' %}">Belle Kosmetics</a>
                        </div>
                    </div>

                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}">Inicio</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                        <li><a class="dropdown-item" href="{% url 'Productos' %}">Productos</a></li>
                                        <li><a class="dropdown-item" href="{% url 'Crear Producto' %}">Crear Producto</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artículos</a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                        <li><a class="dropdown-item" href="{% url 'Articulos' %}">Artículos</a></li>
                                        <li><a class="dropdown-item" href="{% url 'Crear Articulo' %}">Crear Artículo</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'Registro' %}">Registro</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5" id="header-bk">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Te damos la bienvenida a Belle Kosmetics</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Explora nuestro sitio web y descubre la magia de Belle Kosmetics. ¡Déjanos ser parte de tu rutina de belleza y juntos resaltaremos lo mejor de ti!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-lg px-4 me-sm-3" id="btn1-header" href="{% url 'Productos' %}">Ver Productos</a>
                                    <a class="btn btn-outline-light btn-lg px-4" id="btn2-header" href="{% url 'Registro' %}">Registrarme</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'App_Final/assets/imgs/header-img.jpg' %}" alt="mujer maquillandose" /></div>
                    </div>
                </div>
            </header>

        {% block main %}
        {% endblock %}
            
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto mb-3 mb-md-0">
                        <img src="{% static 'App_Final/assets/imgs/flor-b.png' %}" alt="logo" width="35">
                    </div>
                    <div class="col-auto">
                        <div class="small m-0 text-white">&copy; Todos los derecho reservados. Mailen Gomez 2024.</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
