{% extends 'App_Final/base.html' %}
{% load static %}

{% block main %}
    <main class="container pt-5 pb-5">
        <h1>Productos</h1>

        <button><a href="{% url 'Crear Producto' %}">Crear producto</a></button>

        <!-- BUSCADOR -->
        <form action="/productos/buscar/" method="GET">
            <input type="text" name="nombre" id="nombre">

            <input type="submit" value="Buscar">
        </form>

        {% if respuesta %}
            <p>{{ respuesta }}</p>
        {% endif %}

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    {% if productos %}
                        {% for producto in productos %}
                            <div class="col-lg-4 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <img class="card-img-top" src="{% static 'App_Final/assets/imgs/productos-default.jpg' %}" alt="maquillaje" />
                                    <div class="card-body p-4">
                                        <div class="badge rounded-pill mb-2 clasificacion">{{producto.seccion_rostro}}</div>
                                        <h5 class="mb-3 precio-producto">${{producto.precio}}</h5>
                                        <p class="card-text mb-0">{{producto.nombre}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}