{% extends 'App_Final/layouts/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Productos</h1>

        {% if formulario.errors %}

            <p>ERROR</p>

        {% endif %}

        <!-- FORM CREAR-->
        <form action="" method="POST">
            {% csrf_token %}

            <table>
                {{ formulario.as_table }}
            </table>

            {% comment %} <div>
                <label for="nombre">Nombre(*)</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre del producto">
            </div>

            <div>
                <label for="detalle">Detalle(*)</label>
                <textarea name="detalle" id="detalle" placeholder="Ingrese el detalle del producto"></textarea>
            </div>

            <div>
                <label for="precio">Precio(*)</label>
                <input type="number" name="precio" id="precio" placeholder="Ingrese el precio del producto">
            </div>

            <div>
                <label for="seccion_rostro">Sección Rostro</label>
                <select type="number" name="seccion_rostro" id="seccion_rostro">
                    <option value="rostro">Rostro completo</option>
                    <option value="frente">Frente</option>
                    <option value="cejas">Cejas</option>
                    <option value="pestañas">Pestañas</option>
                    <option value="parpados">Párpados</option>
                    <option value="contorno de ojos">Contorno de ojos</option>
                    <option value="pomulos">Pómulos</option>
                    <option value="mejillas">Mejillas</option>
                    <option value="nariz">Nariz</option>
                    <option value="labios">Labios</option>
                    <option value="menton">Mentón</option>
                    <option value="cuello">Cuello</option>
                </select>
            </div> {% endcomment %}

            <input type="submit" value="Crear">
        </form>
    </main>
{% endblock %}