{% extends 'App_Final/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Registro</h1>

        {% comment %} {% if formulario.errors %}

            <p>ERROR</p>

        {% endif %} {% endcomment %}

        {% if respuesta %}

            <p class={{tipo}}>{{ respuesta }}</p>

        {% endif %}

        <!-- FORM REGISTRO-->
        <form action="/registro/" method="POST">
            {% csrf_token %}
            
            <table>
                {{ formulario.as_table }}
            </table>

            <input type="submit" value="Registrarte">
        </form>
    </main>
{% endblock %}