{% extends 'App_Final/layouts/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Registro</h1>

        <!-- FORM CREAR-->
        <form action="/registro/" method="POST">
            {% csrf_token %}
            
            <div>
                <label for="nombre">Nombre(*)</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
            </div>

            <div>
                <label for="apellido">Apellido(*)</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido">
            </div>

            <div>
                <label for="email">Email(*)</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su email">
            </div>

            <div>
                <label for="clave">Clave(*)</label>
                <input type="password" name="clave" id="clave">
            </div>

            <input type="submit" value="Registrarte">
        </form>
    </main>
{% endblock %}